*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 75%;
    text-align: center;
    margin: 3rem auto;
}

.carousel {
    max-width: 500px;
    margin: 0 auto;
    position: relative;
}

.carousel img {
    width: 100%;
    
}

.carousel .carousel__item,
.carousel .carousel__item--hiden {
    display: none;
}

.carousel .carousel__item--visible {
    display: block;
    animation:fadeIn 0.7s;
}

@keyframes fadeIn {
    0% {opacity:0 ;}
    100% {opacity: 1;}
}

.carousel .carousel__actions {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel .carousel__actions button {
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
    height: 50px;
    width: 50px;
    border: 0;
    background-color: rgba(105, 11, 11, 0.651)  ;
    font-size: 2rem;
    color: bisque;
}